[Desktop Entry]
Name=FriendlyFire
Comment=An app to send impromptu media to your friends
Exec=/usr/bin/friendlyfire
Terminal=false
Type=Application
Categories=Internet;
