body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  position: relative;
  text-align: center;
}

#message-img {
  max-width:100%;
  max-height:100%;
}

#message-video {
  max-width:100%;
  max-height:100%;
}

#message-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 0.6vh black;
  /* width and color */
  color: yellow;
  font-weight: bold;
  font-size: 6vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
