#notifications {
  position: fixed;
  top: 30px;
  right: 20px;
}

#notifications :where(.alert, .column) {
  display: flex;
  align-items: center;
}

#notifications .alert {
  animation: show_toast 0.3s ease forwards;
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

#notifications .alert.hide {
  animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(calc(100% + 20px));
  }
}

.alert::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

.alert-success::before,
.btn#success {
  background: var(--success);
}

.alert-error::before,
.btn#error {
  background: var(--error);
}

.alert-warnin::before,
.btn#warning {
  background: var(--warning);
}

.alert-info::before,
.btn#info {
  background: var(--info);
}

@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }

  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }

  .buttons .btn {
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }
}